.skill {
  display: flex;
  height: 50px;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  background-size: contain;

  border-radius: 10px;
  background: #fff;
  backdrop-filter: blur(2px);
  margin-left: 10px;
  margin-right: 10px;
  animation: display 1.5s backwards ease-in-out;
}

@keyframes display {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.skill > img {
  background-size: contain;
  height: 25px;
}



p {
  color: #2a2a2a;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.069px;
}
