@font-face {
  font-family: "bebasNeue";
  src: url("../../Fonts/BebasNeue-Regular.otf");
  font-family: "poppins";
  src: url("../../Fonts/Poppins-Medium.ttf");
  font-family: "impact";
  src: url("../../Fonts/Impact.ttf");
}

* {
  font-family: "Helvetica Neue";
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(248, 248, 248, 1);
}